force-app/main/default/flows/Send_Speaker_Submission_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Submission_Opening_Email</name>
        <label>Send Submission Opening Email</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <actionName>EmailController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowType</name>
            <value>
                <stringValue>Opening</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>speakerIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submission_Reminder_Email</name>
        <label>Submission Reminder Email</label>
        <locationX>402</locationX>
        <locationY>768</locationY>
        <actionName>EmailController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowType</name>
            <value>
                <stringValue>Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>speakerIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submission_Reminder_Email_Post_Deadline</name>
        <label>Submission Reminder Email Post Deadline</label>
        <locationX>754</locationX>
        <locationY>768</locationY>
        <actionName>EmailController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowType</name>
            <value>
                <stringValue>PostDeadline</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>speakerIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_ids_to_variable</name>
        <label>Add Speaker IDs To A Collection Variable</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>speakerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_ids_to_variable</name>
        <label>Add Speaker IDs To A Collection Variable</label>
        <locationX>490</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>speakerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_ids_to_variable</name>
        <label>Add Speaker IDs To A Collection Variable</label>
        <locationX>842</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>speakerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_Email_Type_to_Approved_Speakers</name>
        <label>Send Email Type to Approved Speakers</label>
        <locationX>534</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submission_Opening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2024-05-05</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Speakers</targetReference>
            </connector>
            <label>Submission Opening</label>
        </rules>
        <rules>
            <name>Submission_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2024-09-16</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unsubmitted_Approved_Speakers</targetReference>
            </connector>
            <label>Submission Reminder</label>
        </rules>
        <rules>
            <name>After_Submission_Deadline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2024-09-16</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Deadline_Get_Unsubmitted_Approved_Speakers</targetReference>
            </connector>
            <label>After Submission Deadline</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Speaker Submission Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Speaker Submission Emails</label>
    <loops>
        <name>Loop_Unsubmitted_Speakers</name>
        <label>Loop Unsubmitted Speakers</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Approved_Speakers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_ids_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Submission_Opening_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Unsubmitted_Speakers2</name>
        <label>Loop Unsubmitted Speakers</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Unsubmitted_Approved_Speakers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_add_ids_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submission_Reminder_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Unsubmitted_Speakers3</name>
        <label>Loop Unsubmitted Speakers</label>
        <locationX>754</locationX>
        <locationY>468</locationY>
        <collectionReference>Post_Deadline_Get_Unsubmitted_Approved_Speakers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_add_ids_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submission_Reminder_Email_Post_Deadline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approved_Speakers</name>
        <label>Get Approved Speakers</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unsubmitted_Approved_Speakers</name>
        <label>Get Unsubmitted Approved Speakers</label>
        <locationX>402</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Post_Deadline_Get_Unsubmitted_Approved_Speakers</name>
        <label>Post_Deadline Get Unsubmitted Approved Speakers</label>
        <locationX>754</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Type_to_Approved_Speakers</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-05-06</startDate>
            <startTime>07:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>speakerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>speakers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Speaker__c</objectType>
    </variables>
</Flow>
