force-app/main/default/flows/Send_Speaker_Submission_Opening_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Submission_Opening_Email</name>
        <label>Send Submission Opening Email</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <actionName>EmailController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowType</name>
            <value>
                <stringValue>Opening</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>speakerIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Speaker_ids_to_collection_variable</name>
        <label>Add Speaker ids to collection variable</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>speakerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_Email_Type_to_Approved_Speakers</name>
        <label>Send Email Type to Approved Speakers</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submission_Opening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Submission_Opening_Date.Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Speakers</targetReference>
            </connector>
            <label>Submission Opening</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Speaker Submission Opening Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Speaker Submission Opening Emails</label>
    <loops>
        <name>Loop_Unsubmitted_Speakers</name>
        <label>Loop Unsubmitted Speakers</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Approved_Speakers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Speaker_ids_to_collection_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Submission_Opening_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approved_Speakers</name>
        <label>Get Approved Speakers</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Speaker_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deadline_Deadline_Date</name>
        <label>Get Submission Deadline Date</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Type_to_Approved_Speakers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker Submission Deadline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Opening_Date</name>
        <label>Get Submission Opening Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deadline_Deadline_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker Submission Start</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Submission_Opening_Date</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-05-09</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OpeningEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div class=&quot;wrapper&quot;&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#EAF3FE&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;margin: auto; border-radius:20px; padding:50px 25px 40px&quot; width=&quot;650&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;color:#0f3462; font-family: sans-serif;&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;img height=&quot;50px&quot; src=&quot;https://i.imgur.com/aK4EdrM.png&quot; style=&quot;display:block; margin:auto;padding-bottom: 50px;height:auto;&quot; width=&quot;280&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td style=&quot;&quot;&gt; &lt;p style=&quot;padding-bottom: 5px ; font-size: 14px;&quot;&gt;Dear {!Loop_Unsubmitted_Speakers.Speaker_Name__c},&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;We hope this message finds you well.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;As a confirmed speaker for Dubai Dreamin &amp;#39;24, we&amp;#39;re excited to have you join us for the event. To ensure a smooth and efficient process for all speakers, we kindly request that you use the following PowerPoint (PPT) template attached to this email.&lt;/p&gt; &lt;!-- &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&lt;a href=&quot;[Insert link to the PowerPoint template here]&quot;&gt;[Insert link to the PowerPoint template here] &lt;/a&gt;&lt;/p&gt; --&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Please duplicate the provided presentation to tailor your session.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&lt;b&gt;The deadline for session submission is {!Get_Deadline_Deadline_Date.Date__c}. &lt;/b&gt;&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Furthermore, please utilize the attached PowerPoint to advertise your session effectively on social media.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;If you have any questions or need further assistance, please don&amp;#39;t hesitate to reach out to us.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Thank you for your cooperation, and we look forward to your presentation at Dubai Dreamin &amp;#39;24.&lt;/p&gt;&lt;!-- &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&amp;nbsp;&lt;/p&gt; --&gt; &lt;/td&gt; &lt;/tr&gt;&lt;!-- &lt;tr&gt; &lt;td&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt;--&gt; &lt;tr&gt; &lt;td&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Best,&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Team Dubai Dreamin.&lt;/p&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>speakerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>speakers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Speaker__c</objectType>
    </variables>
</Flow>
