force-app/main/default/flows/Send_Speaker_Submission_Reminder_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder_Email_To_Unsubmitted_Speakers</name>
        <label>Send Reminder Email To Unsubmitted Speakers</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers2.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mrehman@cloud-1.co</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Submission Deadline for Your Presentation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReminderTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Send_Email_Type_to_Approved_Speakers</name>
        <label>Send Email Type to Approved Speakers</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submission_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Deadline_Deadline_Date.Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Submission_Opening_Date.Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unsubmitted_Approved_Speakers</targetReference>
            </connector>
            <label>Submission Reminder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Speaker Submission Reminder Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Speaker Submission Reminder Emails</label>
    <loops>
        <name>Loop_Unsubmitted_Speakers2</name>
        <label>Loop Unsubmitted Speakers</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Unsubmitted_Approved_Speakers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Reminder_Email_To_Unsubmitted_Speakers</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Deadline_Deadline_Date</name>
        <label>Get Submission Deadline Date</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Type_to_Approved_Speakers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker Submission Deadline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Opening_Date</name>
        <label>Get Submission Opening Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deadline_Deadline_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker Submission Start</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unsubmitted_Approved_Speakers</name>
        <label>Get Unsubmitted Approved Speakers</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Speaker_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Submission_Opening_Date</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-05-07</startDate>
            <startTime>16:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ReminderTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div class=&quot;wrapper&quot;&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#EAF3FE&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;margin: auto; border-radius:20px; padding:50px 25px 40px&quot; width=&quot;650&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;color:#0f3462; font-family: sans-serif;&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;img height=&quot;50px&quot; src=&quot;https://i.imgur.com/aK4EdrM.png&quot; style=&quot;display:block; margin:auto;padding-bottom: 50px;height:auto;&quot; width=&quot;280&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td style=&quot;&quot;&gt; &lt;p style=&quot;padding-bottom: 5px ; font-size: 14px;&quot;&gt;Dear {!Loop_Unsubmitted_Speakers2.Speaker_Name__c},&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;We hope this message finds you well.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;As a confirmed speaker for Dubai Dreamin &amp;#39;24 we greatly appreciate your participation and contribution to our upcoming event. We are eagerly looking forward to your presentation, which we know will be invaluable to our attendees.&lt;/p&gt; &lt;!-- &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&lt;a href=&quot;[Insert link to the PowerPoint template here]&quot;&gt;[Insert link to the PowerPoint template here] &lt;/a&gt;&lt;/p&gt; --&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;We kindly remind you that the deadline for submitting your presentation is fast approaching. Your session materials should be submitted no later than {!Get_Deadline_Deadline_Date.Date__c}. This deadline is crucial for ensuring that we can properly organize and prepare all sessions for the event.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;If you have already submitted your presentation, we sincerely thank you for your promptness and cooperation. However, if you have not yet done so, we kindly request that you take a moment to finalize and upload your materials to our system as soon as possible.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Should you encounter any difficulties or require any assistance with the submission process, please do not hesitate to reach out to us. We are here to support you in any way we can to ensure a smooth and successful experience for both you and our attendees.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Thank you once again for your participation in Dubai Dreamin &amp;#39;24. We truly appreciate your expertise and dedication to making this event a success.&lt;/p&gt; &lt;!--&lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Thank you for your cooperation, and we look forward to your presentation at Dubai Dreamin &amp;#39;24.&lt;/p&gt;--&gt;&lt;!-- &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&amp;nbsp;&lt;/p&gt; --&gt;&lt;/td&gt; &lt;/tr&gt; &lt;!-- &lt;tr&gt; &lt;td&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; --&gt; &lt;tr&gt; &lt;td&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Best,&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Team Dubai Dreamin.&lt;/p&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>speakerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>speakers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Speaker__c</objectType>
    </variables>
</Flow>
