force-app/main/default/flows/Send_Speaker_Submission_Post_Deadline_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Post_Deadline</name>
        <label>Send Email Post Deadline</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers3.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mrehman@cloud-1.co</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Submission Deadline for Your Presentation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PostDeadlineTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Three_days_to_Deadline</name>
        <label>Add Three days to Deadline</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>ThreeDaysAfterDeadline</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Deadline_Deadline_Date.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThreeDaysAfterDeadline</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Type_to_Approved_Speakers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_ids_to_variable</name>
        <label>Add Speaker IDs To A Collection Variable</label>
        <locationX>138</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>speakerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unsubmitted_Speakers3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Post_Deadline</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_Email_Type_to_Approved_Speakers</name>
        <label>Send Email Type to Approved Speakers</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_Submission_Deadline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThreeDaysAfterDeadline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Deadline_Get_Unsubmitted_Approved_Speakers</targetReference>
            </connector>
            <label>After Submission Deadline</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Speaker Submission Post Deadline Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Speaker Submission Post Deadline Emails</label>
    <loops>
        <name>Loop_Unsubmitted_Speakers3</name>
        <label>Loop Unsubmitted Speakers</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <collectionReference>Post_Deadline_Get_Unsubmitted_Approved_Speakers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_add_ids_to_variable</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Deadline_Deadline_Date</name>
        <label>Get Submission Deadline Date</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Three_days_to_Deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker Submission Deadline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Opening_Date</name>
        <label>Get Submission Opening Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deadline_Deadline_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Speaker Submission Start</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timeline__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Post_Deadline_Get_Unsubmitted_Approved_Speakers</name>
        <label>Post_Deadline Get Unsubmitted Approved Speakers</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsubmitted_Speakers3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Speaker_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Submission_Opening_Date</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-05-07</startDate>
            <startTime>15:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>PostDeadlineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;wrapper&quot;&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#EAF3FE&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;margin: auto; border-radius:20px; padding:50px 25px 40px&quot; width=&quot;650&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;color:#0f3462; font-family: sans-serif;&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt;&lt;img height=&quot;50px&quot; src=&quot;https://i.imgur.com/aK4EdrM.png&quot; style=&quot;display:block; margin:auto;padding-bottom: 50px;height:auto;&quot; width=&quot;280&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td style=&quot;&quot;&gt; &lt;p style=&quot;padding-bottom: 5px ; font-size: 14px;&quot;&gt;Dear {!Loop_Unsubmitted_Speakers3.Speaker_Name__c},&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;We hope this email finds you well. As a confirmed speaker for Dubai Dreamin &amp;#39;24, we would like to kindly remind you of the upcoming submission deadline for your presentation.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;The deadline for submitting your presentation is {!Get_Deadline_Deadline_Date.Date__c}. It&amp;#39;s crucial that we receive your presentation at the earliest to ensure smooth coordination and preparation for the event.&lt;/p&gt; &lt;!-- &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&lt;a href=&quot;[Insert link to the PowerPoint template here]&quot;&gt;[Insert link to the PowerPoint template here] &lt;/a&gt;&lt;/p&gt; --&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Should you encounter any challenges or require assistance with your presentation submission, please don&amp;#39;t hesitate to reach out to us. We&amp;#39;re here to support you every step of the way.&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Thank you for your attention to this matter, and we look forward to your valuable contribution to Dubai Dreamin &amp;#39;24.&lt;/p&gt; &lt;!--&lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Thank you for your cooperation, and we look forward to your presentation at Dubai Dreamin &amp;#39;24.&lt;/p&gt;--&gt;&lt;!-- &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;&amp;nbsp;&lt;/p&gt; --&gt;&lt;/td&gt; &lt;/tr&gt; &lt;!-- &lt;tr&gt; &lt;td&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; --&gt; &lt;tr&gt; &lt;td&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Best,&lt;/p&gt; &lt;p style=&quot;font-size: 14px; padding:0px&quot;&gt;Team Dubai Dreamin.&lt;/p&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt; &lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>speakerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>speakers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Speaker__c</objectType>
    </variables>
    <variables>
        <name>ThreeDaysAfterDeadline</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
